<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <%- include('block/face') %>
        <%- include('block/info') %>
        <%- include('block/danger') %>
        <%- include('block/defender') %>
        <%- include('block/job') %>
        <%- include('block/information') %>
        <%- include('block/professional') %>
        <%- include('block/commits') %>
        <%- include('block/face') %>
        <%- include('block/script') %>
    </body>
</html>
